body {
    position: relative
}
.overlay {
    position: absolute;
    width: 100vw;
    height: calc(100% + 20px);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    top: -20px;
    z-index: 1000;
    display: none;
}

.overlay img {
    position: absolute;
    top: 45%;
    z-index: 1000;
}

#upload-form {
    width: 200px;
    margin: auto;
    padding: 20px 0px;
}

.download {
    font-size: 25px;
}